{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div id="header">
    <span class="logo">Соцсетка</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == 'dashboard' %} class='selected' {% endif %}><a href="{% url 'dashboard' %}">Моя страница</a></li>
        <li {% if section == 'images' %} class='selected' {% endif %}><a href="{% url 'images:list' %}">Изображения</a></li>
        <li {% if section == 'people' %} class='selected' {% endif %}><a href="#">Друзья</a></li>


    </ul>
    {% endif %}
    <span class="user">
 {% if request.user.is_authenticated %}
        {{ request.user.first_name|default:request.user.username }}
 <form action="{% url 'logout' %}" method="post">
    <button type="submit">Выйти</button>
    {% csrf_token %}
        </form>
        {% else %}
 <a href="{% url 'login' %}">Авторизация</a>
        {% endif %}
 </span>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</body>
</html>